<div id="nav-bar">
    <form>
        <label for="dogs">Raça: </label>
        <select name="dogs" id="dogs">
            <option value="todas">Todas</option>
            <option value="nenhuma">Nenhuma</option>
        </select>
    </form>
    <a routerLink="/perfil">
        <button class="home" [routerLink] = "['Perfil']">
            <img src="https://th.bing.com/th/id/OIP._3QPMJ7E-_rbllGOe7OeLgHaHa?pid=ImgDet&rs=1" width="24" height="24" alt=""/>
            Perfil
        </button>
    </a>
</div>
<hr />
<img src=''/>
<div id="bottom">
    <p>Página: 1</p>
    <button class="arrowbtn"><i class="arrow left"></i></button>
    <button class="arrowbtn"><i class="arrow right"></i></button>
</div>
