<app-menu-title></app-menu-title>
<div class="articles">
    <div class="main">
        <app-big-card 
            Id = "1"
            photoCover="https://th.bing.com/th/id/R.2a1cbf29f066e27505c14945c032c58c?rik=Av8QHXVyuBbcWg&riu=http%3a%2f%2fimages5.fanpop.com%2fimage%2fphotos%2f31600000%2fKingdom-Hearts-fandoms-31616011-1600-1280.jpg&ehk=aCI3jo1RyWoRjcZ5UY2Er7srq5D%2bGaYdum2YFEtmgA4%3d&risl=&pid=ImgRaw&r=0"
            cardTitle= "Kingdom hearts"
            cardDescription= "Kingdom Hearts é um jogo de rpg">
        </app-big-card>
    </div>
    <div class="others">
        <app-small-card
        Id = "2"
        photoCover="https://th.bing.com/th/id/OIP.Q3JmqqWIzoku0fuau_TpvwHaFX?w=241&h=180&c=7&r=0&o=5&pid=1.7"
        cardTitle="Super meat boy"></app-small-card>
        <app-small-card
        Id = "3"
        photoCover="https://th.bing.com/th/id/OIP.Zocg6PxN7S_uFunDaMziVwHaER?w=306&h=180&c=7&r=0&o=5&pid=1.7"
        cardTitle="Hollow knight"></app-small-card>
        <app-small-card
        Id = "4"
        photoCover="https://th.bing.com/th/id/OIP.ycFAO5yKB50vzAIbB-a7igHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7"
        cardTitle="Fallout New Vegas"></app-small-card>
    </div>
</div>